* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    width: 50%;
}
p span {
    background-color: pink;
    border: 4px solid magenta;
    padding: 0.8em;
    display: inline-block;
}